.ace-lynx {


    background-color: black;
    color: white;
    font-family: "Fira Code", "Consolas", monospace !important;

    .ace_gutter {
        background: black;
        color: white;
    }

    .ace_print-margin {
        width: 1px;
        background: black;
    }

    .ace_content {
        font-variant-ligatures: additional-ligatures !important;
    }

    .ace_cursor {
        color: white;
    }

    .ace_marker-layer .ace_selection {
        background: #880;
        z-index: -10;
    }

    .ace_multiselect .ace_selection.ace_start {
        box-shadow: 0 0 3px 0 #191919;
    }

    .ace_marker-layer .ace_step {
        background: darkorange;
    }

    .ace_marker-layer .ace_bracket {
        margin: -1px 0 0 -1px;
        border: 1px solid white;
    }

    .ace_marker-layer .ace_active-line,
    .ace_gutter-active-line {
        background-color: #005;
        z-index: -20;
    }

    .ace_marker-layer .ace_selected-word {
        border: 1px solid black;
    }

    .ace_invisible {
        color: #333;
    }

    .ace_keyword,
    .ace_meta,
    .ace_support.ace_constant.ace_property-value {
        color: tan;
    }

    .ace_keyword.ace_operator {
        color: #444;
    }

    .ace_keyword.ace_other.ace_unit,
    .ace_constant.ace_language {
        color: green;
    }

    .ace_constant.ace_numeric,
    .ace_constant.ace_character.ace_entity {
        color: magenta;
    }
    .ace_identifier {
        color: tan;
    }

    .ace_invalid {
        color: yellow;
        background-color: red;
    }

    .ace_fold {
        background-color: black;
        border-color: white;
    }

    .ace_storage,
    .ace_support.ace_class,
    .ace_support.ace_function,
    .ace_support.ace_other,
    .ace_support.ace_type {
        color: lime;
    }

    .ace_variable.ace_global {
        color: darkorange;
    }

    .ace_string,
    .ace_entity.ace_name.ace_function {
        color: dodgerblue;
    }

    .ace_comment {
        color: #777;
        font-style: italic;
    }

    .ace_entity.ace_name.ace_tag,
    .ace_entity.ace_other.ace_attribute-name {
        color: #666;
    }

    .ace_indent-guide,
    .ace_indent-guide-active {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHB3d/8PAAOIAdULw8qMAAAAAElFTkSuQmCC) right repeat-y;
    }
}
